*{
    margin: 0; padding: 0; box-sizing: border-box;
}

nav{
    width: 100%;
    z-index: 1;
    display: flex;
    background-color: #0f0f0f;
justify-content: space-between;
align-items: center;
/* position: fixed; */
    height: 14vh;
}

nav ul{
    display: flex;
    width: 60%;
    justify-content: space-around;
    list-style-type: none;
}
nav ul li{
   text-align: center;
   position: relative;
   display: inline-block;
   list-style: none;
}

nav ul  li a{
    display: block;
    text-decoration: none;
padding: 0.7rem;
border-radius: 5px;
color: #fff;
font-size: 1rem;
letter-spacing: 2px;
font-family: "Urbanist", sans-serif;
}
nav ul li a:hover{
    background-color: #3b518a;
    color: #fff;
    transition:  0.4s ease;
}
nav ul ul {
    position: absolute;
    z-index: 100;
    padding: 0.5rem;
    display: none;
    width: 160%;
    background-color: #0f0f0f
}
nav ul ul li a{
    padding: 0.5rem;
    color: #fff;
font-size: 0.8rem;
text-align: start;
}
nav ul ul li a:hover{
    color: #fff;
}
nav ul li:hover > ul{
    display: block;
}
#homeli{
    color: #3b518a;
    font-weight: bold;
    background-color: rgba(0,0,0,0);
}

.logo{
padding-left: 1rem;
}
.logo a{
    width: 60%;
}
#acclogo{
    width: 100%;
}
.contact h3{
    font-family:"Montserrat", sans-serif;
    font-size: 3rem;
    text-align: center;
    font-weight: 300;
    padding: 2rem 0;
    text-transform: capitalize;
}
.controw{
    display: flex;
    padding: 3rem;
    justify-content: center;
}
#line{
    width: 90%;
    margin: auto;
}
.controw .image{
    width: 50%;  
padding: 2rem;
}
.controw .image .img{
    width: 60%;
}
#contimg{
width: 100%;
}
.controw .text{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.controw .text .holder{
    display: flex;
    width: 100%;
    font-family: "Urbanist", sans-serif;
    margin: 2rem 0;
    font-size: 1.5rem;
    gap: 5%;
}
.controw .text .holder i{
    color: #3b518a;
}


.footer{
    background-color: #0f0f0f;
    margin-top: 2rem;
    height: 57vh;
    color: #fff;
    font-family: "Urbanist", sans-serif;
}
.fbox{
    height: 50vh;
display: flex;
gap: 5%;
justify-content: center;
}
.footer hr{
    width: 90%;
    margin: auto;
}
.aboutus{
    padding: 1rem;
    width: 15%;
}
.branch, .quicklinks, .follow{
    width: 20%;
    padding: 1rem;
}
#map{
    width: 100%;
}
.aboutus h2, .branch h2, .quicklinks h2, .follow h2{
    margin: 1rem 0;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 1.5rem;
}

.aboutus p, .branch p{
    font-weight: 200;
    letter-spacing: 1px;
}
.quicklinks ul{
    list-style-type: none;
}
.quicklinks ul li{
    margin: 0.5rem 0;
}
.quicklinks ul li a{

    padding: 0.2rem;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
}

.quicklinks ul li a:hover{
    background-color: #3b518a;
    color: #0f0f0f;
    transition: 0.2s ease;
}
#fdiff{
    color: #3b518a;
}
.follow ul {
    list-style-type: none;
}
.follow ul li{
    margin: 1rem 0;
}
.follow ul li a{
    padding: 0.5rem;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
}

#twitter:hover{
    background-color: #00acee;
    transition: 0.2s ease;
    color: #fff;
}
#facebook:hover{
    background-color: #4267B2;
    transition: 0.2s ease;
    color: #fff;
}
#instagram:hover{
    background-image: linear-gradient(45deg , #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5 );
    transition: 0.2s ease;
    color: #fff;
}

footer .copy{
    font-size: 0.7rem;
    height: 5vh;
display: flex;
justify-content: center;
align-items: center;
}












.checkbtn{
    font-size: 30px;
    color: #3b518a;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
.fa-bars::before{
    content: "\f0c9";
}



@media all and (max-width: 1000px){


    .checkbtn{
        display: block;
    
    }
    .checkbtn{
        padding-right: 20px;
    }
    #homeli{
        background-color: rgba(0,0,0,0);
    }
    #drop{
        display: none;
        opacity: 0;
    }
    ul{
        margin-top: 20px;
    position: absolute;
    height: 85vh;
    z-index: 120;
    background: #1b1b1b;
    top: 12%;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
    }
    .list{
        display: block;  
        width: 100%;     
    }

    .list li{
        width: 100%;

        height: 2rem;
        border-radius: 5px;
        text-align: center;
        margin-bottom: 10px;
        color: #fff;
        margin-top: 20px;
    }
    .list li a:hover{
        background-color: rgba(0,0,0,0);
        transition: 0.2s ease;
        color: #92E3A9;
    }
    .list li a{
        font-size: 1rem;
    }
    nav ul li{
        display: block;
    }

    #check:checked ~ ul{
        left: 0;
        transition: all 0.5s ease-in;
    
    }
    #check:checked ~ .checkbtn i::before{
        content: "\f00d";
    }
    }






















